{
  "extends": "standard",
  "rules": {
    "indent": ["error", 2],
    "space-before-function-paren": ["error", "never"]
  },
  "globals": {
    "Image": true,
    "location": true,
    "FormData": true
  }
}
